@import url(https://fonts.google.com/share?selection.family=Signika:wght@300..700);

*{
    font-family: Arial, Helvetica, sans-serif;
}
.h2{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,h2{
    font-family: Signika;
}

#Educacion{
    background-color: #f9f4ef;
}

.h2 > #Educacion{
    color: #020826;
}